/* CSS declarations go here */
#editor {
    position: fixed;
    top: 30px;
    z-index: 100;
    width: 50%;
    height: 100%;
}

#ace-editor {
    height: 100%;
    width: 100%;
    opacity: .6;
    z-index: 105;
}

#flash-message {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 20px;
  padding: 8px;
  color: #FFF;
  background-color: #FFA500;
}

.open-editor {
  position: fixed;
  top: 50%;
  left: 0px;
  margin-bottom: 10px;
}

.close-editor {
  position: fixed;
  left: 50%;
  top: 50%;
}

#login-buttons {
    z-index: 1000;
    position: fixed;
    top: 10px;
    left: 20px;
}

.button {
    padding: 8px;
    color: #FFF;
    background-color: #555;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(18, 36, 70);
}

.not-visible {
  display: none !important;
}
